body{
    margin: 0;
}

#container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15%;
    border: solid;
    margin-left: 40%;
    margin-right: 40%;  
    padding: 0px 20px 50px 20px;
    border-radius: 15%;
    ;
    
}

#random-btn {
    margin-top: 10%;
}

img {
    height: 40%;
    width: 40%;
}